/*If you are here, you should visit https://linaki.org/rickroll.mp4
Just sayin'...
*/
.menu ul {
    list-style-type: none;
    display: flex;
  
  }
  .menu li {
      margin-left: 10%;
      margin-right: 10%;
  }
  
  .menu a {
      transition: font-size .2s;
      color: white;
  }
  
  .menu a:hover {
      font-size: 150%;
  }
  
  body {
      /*background: #ecffb3;*/
  }
  
  #logo {
      height: 10%;
  }
  
  body {
      text-align: center;
      color: white;
  }
  
  .menu {
      background: black;
      height: 10%;
      position: sticky;
      top: 0px;
  }
  
  #latest {
      float: left;
  }
  
  a {
      color: lightgray;
  }
  
  a:visited {
      color: white;
  }
  #keytap-container {
    font-size: 170%;
  }
  